/* ヘッダー */
.header{
    width: 100%;
}

.header-top{
    width: 100%;
    height: 50px;
    background-color: red;
}

.header-bottom{
    width: 100%;
    height: 500px;
    background-color: orange;
}

/* メイン */
.main{
    width: 960px;
    height: 1400px;
    background-color: lightseagreen;
    margin: 0 auto;
}

.main-content{
    width: 500px;
    height: 1400px;
    background-color: limegreen;
    margin: 0 auto;
}

/*  */
.footer{
    width: 100%;
    height: 100px;
    background-color: mediumblue;
}

